* {
  
    margin: 0;
    padding: 0;
    text-decoration: none;

  }
  
  body {
    margin: 0 auto;
    font-size: 16px;
    font-family: sans-serif;
    display: grid;
    width: 95%;
    max-width: 400px;
    height: 90vh;
    background: #000000;
    color: #ffffff;
    
    }


  .wrap {
    max-width: 1000px;
    margin: auto;

  }
    
h1,
p,
a,
.titulosec {
  text-align: center;
  margin-top: 15px;
}

p {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 10px;
  font-weight: bold;
}

a {
  color: #25d366;
}

.boxinput,
.select {
  width: 22%;
  border-radius: 5px;
  height: 30px;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 1px;
  text-align: center;
}

.vehiculo {
  width: 15%;
  height: 33px;
  border-radius: 5px;
  text-align: center;

}

.ppu,
.hora,
.minuto {
  width: 8%;
  height: 33px;
  border-radius: 5px;
  margin-left: 2px;
  margin-bottom: 15px;
  text-align: center;
}

.car {
font-size: 19px;
margin-left: 10px;
}

.conos {
  text-align: center;
  width: 15%;
  height: 30px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

label {
font-size: 18px;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 3px solid #ffffff;
  border-radius: 15%;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-bottom: 15px;
  margin-left: 15px;
}

/* Estilo para los input tipo checkbox y radio cuando están seleccionados */
/* Estilo para el símbolo ✓ cuando los input tipo checkbox y radio están seleccionados */
/* Estilo para los input tipo checkbox y radio cuando están seleccionados */
input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  content: "\2714"; 
  /* agregar un signo dentro del checkbox */
  display: block;
  font-weight: bold;
  font-size: 35px;
  line-height: 20px;
  color: #007bff; /* Establecer el color directamente */
  text-shadow: 2px 2px 2px #000000;
}

/* Estilo para los input tipo checkbox y radio cuando están enfocados */
input[type="checkbox"]:focus::before,
input[type="radio"]:focus::before {
  color: #007bff; /* Establecer el color directamente */
}


input[class="checkboxright"] {
margin-left: 30px;
}
input[type="checkbox"]:checked {
  background-color: #ffffff;
}

/*#opciones input[type="checkbox"] + label {
}*/

input[type="checkbox"]:checked::before {
  content: "\2714"; 
  /* agregar un signo dentro del checkbox */
  display: block;
  font-weight: bold;
  font-size: 35px;
  line-height: 20px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 3px solid #ccc;
  border-radius: 15%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: middle;
}

input[type="radio"]:checked {
  background-color: #ffffff;
}

#opciones input[type="radio"] + label {
  margin-right: 40px;
}

input[type="radio"]:checked::before {
  content: "\2714"; /* agregar una equis */
  display: block;
  font-weight: bold;
  font-size: 30px;
  line-height: 22px;
}

.estanque {
  text-align: center;
  width: 25%;
  height: 35px;
  border-radius: 5px;
  padding: 2% 2%;
  margin: 15px 0 15px;
}

.boucher {
  text-align: center;
  margin: 0 0 15px;
  width: 15%;
  border-radius: 5px;
  height: 20px;
  padding: 2% 2%;
}

.lugar {
  width: 32%;
  height: 35px;
  border-radius: 5px;
  padding: 2% 2%;
  margin: 0 0 15px;
}

.boton{
  margin: 0 auto;
  width: 90%;
	display: block;
	height: 60px;
	background-color: #48bb78;
	border: solid 2px #48bb78;
	color: #fff;
	border-radius: 5px;
	font-size: 20px;
}


.boton:hover{
	background-color: #2F855A;
	border: solid 2px #2F855A;
	transition: .5s;
}

/*.radio input[type="radio"],*/
.formulario input[type="checkbox"]{
  display: block;
}

.form-group{
  font-size: 18px;
  width: 95%;
  text-align: center;

}

.form-group2{
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}

.novedadesvehiculo {
  display: flex;
  width: 90%;
  border-radius: 5px;
  height: 35px;
  margin: 0 auto 15px;
  padding: 1% 1%;

}

label [for="novedades"]{
  font-size: 16px;
  font-weight: bold;
}

button {
  background-color: #25d366;
  color: #ffffff;
  display: flex;
  font-weight: bold;
  height: 40px;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  border-bottom: 20px;
}

/*.radio label,
.checkbox label {
  color: #0074D9;
  background: rgb(0, 0, 0, .1);
  padding: 5px 15px 5px 51px;
  display: inline-block;
  position: relative;
  font-size: 1em;
  border-radius: 3px;
  cursor: pointer;
}

.radio label:hover,
.checkbox label:hover {
  background: rgba(0, 116, 0, .1);
}

.radio label::before,
.checkbox label:before {
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: none;
  border: 3px solid #0074D9;
  border-radius: 50%;
  position: absolute;
  left: 17px;
  top: 4px;
}

.checkbox label:before {
border-radius: 3px;
}

.radio input[type="radio"]:checked + label,
.checkbox input[type="checkbox"]:checked + label {
  padding: 5px 15px;
  background: #0074D9;
  border-radius: 2px;
  color: #ffffff;
}
*/

